.aboutme__title {
  margin: 60px;
  font-size: 40px;
}

.aboutme__title::after {
  content: "";
  width: 150px;
  height: 3px;
  background: rgb(43, 255, 0);
  display: block;
  margin: 25px 0 0 0;
}

.aboutme__content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  margin: 60px;
  row-gap: 40px;
  column-gap: 30px;
  align-items: start;
}
.aboutme__description {
  width: 100%;
  max-width: 100%;
}


.aboutme__image-me {
  width: 100%;

}
.aboutme__buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.aboutme__buttons-click {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(90deg, #4fca0d 0%, #102a02 99.98%);
  padding: 10px 30px;
  width: 250px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  height: max-content;
}

@media screen and (max-width: 1024px) {
    .aboutme__content {
      margin: 20px;
      gap:0;

    }
    .aboutme__description {
      width: 100%;
    }
  }

@media screen and (max-width: 769px) {
    .aboutme__content {
    display: block;
    margin: 10px;
}
}