.contact__title {
  margin: 60px;
  font-size: 40px;
}

.contact__title::after {
  content: "";
  width: 150px;
  height: 3px;
  background: rgb(43, 255, 0);
  display: block;
  margin: 25px 0 0 0;
}
.contact__description {
  line-height: 28px;

  margin: 60px;
}
.contact__email {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(90deg, #4fca0d 0%, #102a02 99.98%);
  padding: 10px 30px;
  width: 250px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  height: max-content;
  margin: 60px;
}

@media screen and (min-width: 340px) and (max-width: 769px) {
  .contact__title {
    margin: 20px;
    font-size: 30px;
  }
  .contact__description {
    margin: 20px;
  }
  .contact__email {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    padding: 8px;
  }
}
