
.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.footer__list {
  display: flex;
  gap: 20px;
  list-style: none;
}
.footer__social {
  margin: 60px;
}
.footer__social-item {
  width: 100px;
}
