
.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.footer__list {
  display: flex;
  gap: 20px;
  list-style: none;
}
.footer__social {
  margin: 60px;
}
.footer__social-item {
  width: 100px;
}
@media screen and (min-width: 340px) and (max-width: 769px) {
  .footer__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}