.frameworks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frameworks__title {
  margin: 60px;
  font-size: 40px;
}

.frameworks__title::after {
  content: "";
  width: 150px;
  height: 3px;
  background: rgb(43, 255, 0);
  display: block;
  margin: 25px 0 0 0;
}
.frameworks__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 20px;
  gap:20px;   
  justify-items: center; 
}
.frameworks__icons {
  width: 80px;
}

.frameworks__text {
  text-align: center;
  margin-top: 10px;
}
