
.frameworks__title {
  margin: 60px;
  font-size: 40px;
}

.frameworks__title::after {
  content: "";
  width: 150px;
  height: 3px;
  background: rgb(43, 255, 0);
  display: block;
  margin: 25px 0 0 0;
}
.frameworks__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 20px;
  gap:20px;   
  justify-items: center; 
}
.frameworks__icons {
  width: 80px;
}

.frameworks__text {
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    .frameworks__content {
      margin: 20px;
      gap:0;

    }
    .frameworks__description {
      width: 100%;
    }
  }

@media screen and (max-width: 769px) {
    .frameworks__content {
    grid-template-columns: 1fr;
    margin: 20px;
}
}
@media screen and (min-width: 340px) and (max-width: 769px) {
.frameworks__title {
    margin: 20px;
    font-size: 30px;
    
  }
}
 