.header {
  background:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url(../images/authorsimage.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
}

.header__back-to-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  background-color: #57f502;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.header__content {
  margin-left: 30px;
}
.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: clamp(40px, 10vw, 120px);
  line-height: 72px;
  color: #57f502;
}

.header__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.header__title {
  max-width: 900px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-size: clamp(36px, 8vw, 120px);
  line-height: clamp(40px, 7vw, 100px);
  letter-spacing: clamp(2px, 1vw, 10px);
}

.header__text-content {
  display: flex;
  align-items: center;
  margin-top: 200px;
  justify-content: space-around;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 750px;
  margin: 20px;
}
.header__button {
  display: inline-block;
  padding: 25px 32px;
  background-color: #102a02;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 30px;
}

@media screen and (min-width: 600px) and (max-width: 1152px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__span-accent {
    font-size: 80px;
    line-height: 50px;
  }
}
@media screen and (min-width: 340px) and (max-width: 769px) {
  .header {
    background-attachment: scroll;
  }
  .header__content {
    margin-left: 0;
    padding: 20px;
  }
  .header__title {
    text-align: left;
    max-width: 100%;
    letter-spacing: 1px;
  }

  .header__text-content {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
  }

  .header__description {
    font-size: 23px;
    line-height: 24px;
    }
  
.header__span-accent {
    font-size: 50px;
    line-height: 50px;
  }
.header__button{
  padding: 15px 20px;
  font-size: 16px;
  align-items: center;
}
}
