.nav {
  display: flex;
  justify-content: flex-end;
  padding: 30px;

}

.nav__links {
  list-style: none;
  column-gap: 20px;
  display: flex;

}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color:white;
}
.nav__link:hover {
  color: #2f80ed;
}
@media screen and (min-width: 340px) and (max-width: 769px) {
  .nav {
    justify-content: center;
    margin:0;
    padding:0;
    
  }
  .nav__links {
    align-items: center;
    gap: 10px;
    padding:0;
    display: flex;
    flex-direction: column;
  }
}