.page {
  width: 100%;
  margin: auto;
  font-family: "Inter", arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  background-image: url(../images/background_header.svg);
  background-color: #102a02;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
h2 {
  font-size: 35px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

p, li {
  font-size: 23px;
  line-height: 32px;
}
html, body {
  overflow-x: hidden;
}