.projects__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  margin: 60px;
  row-gap: 40px;
  column-gap: 30px;
  align-items: start;
}

.projects__title {
  margin: 60px;
  font-size: 40px;
}

.projects__title::after {
  content: "";
  width: 150px;
  height: 3px;
  background: rgb(43, 255, 0);
  display: block;
  margin: 25px 0 0 0;
}


.projects__description {
  line-height: 28px;
  width: 600px;
}
.projects__description-title {
  font-size: 28px;
  margin-bottom: 20px;
}
.projects__images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__images-trip {
  width: 100%;
  padding: 15px;
}
.projects__buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.projects__buttons-click {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(90deg, #4fca0d 0%, #102a02 99.98%);
  padding: 10px 30px;
  width: 250px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  height: max-content;
}

.projects__buttons-click:hover {
  background-image: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}
