@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/projects.css");
@import url("../blocks/footer.css");
@import url("../blocks/nav.css");
@import url("../blocks/frameworks.css");
@import url("../blocks/aboutme.css");
@import url("../blocks/contactme.css");